.rocket {
    margin-left: 4%;
    margin-top: 2%;
    width: 20%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: none;
    background-color: transparent;
}

.butn {
    border-color: darkgray;
    margin-left: 40%;
    margin-top: 4%;
}

.half {
    overflow: scroll;
    height: 343px;
}

.it {
    float: left;
}